<template>
    <v-container>
        <app-alert v-if="error" :text="error"></app-alert>
        <loader :loading="loading"></loader>
        <v-layout v-if="!loading">
            <v-flex xs12>
            <v-card>
                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0 text-lg-left" v-if="!id">Dodaj zgłoszenie</h3>
                        <h3 class="headline mb-0 text-lg-left" v-if="id">Edytuj zgłoszenie {{ id }}</h3>
                    </div>
                </v-card-title>
                <v-container>
                    <v-form ref="form" @submit.prevent="submit">
                        <v-flex xs12>
                            <v-text-field
                                xs12
                                v-model="title"
                                :rules="titleValidate"
                                counter="50"
                                label="Podaj tytuł"
                            ></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-textarea
                                v-model="description"
                                color="teal"
                                counter="250"
                                :rules="descriptionValidate"
                            >
                                <template v-slot:label>
                                    <div>
                                        Wpisz opis
                                    </div>
                                </template>
                            </v-textarea>
                        </v-flex>
                        <v-flex xs12 v-if="!id">
                            <v-text-field
                                xs12
                                v-model="user.username"
                                disabled
                                :rules="createdByValidation"
                                counter="25"
                                label="Osoba zgłaszająca"
                            ></v-text-field>
                        </v-flex>
                        <!-- <v-flex xs12 v-if="!id">
                            <v-text-field
                                xs12
                                v-model="createdDate"
                                :rules="createdDateValidation"
                                counter="25"
                                label="Data"
                                readonly
                                disabled
                            ></v-text-field>
                        </v-flex> -->
                        <v-flex xs12 v-if="!id">
                            <v-flex xs12 sm6 d-flex>
                                <v-select
                                v-model="assignedTo"
                                :items="users"
                                item-text="username"
                                item-value="_id.$oid"
                                :rules="[(v) => !!v || 'Wybierz jedną z opcji']"
                                label="Przypisz do"
                                ></v-select>
                            </v-flex>
                        </v-flex>
                    </v-form>
                </v-container>

                <v-card-actions>
                    <v-btn color="primary" flat @click="submit" :disabled="!isFormValid">Wyślij</v-btn>
                </v-card-actions>
            </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import Loader from '@/components/Loader.vue'

export default {
    name: 'AddTask',
    props: ['id'],
    components: {
        loader: Loader
    },
    computed: {
        /**
         * Get all tasks from store.
         * @returns {array} collection of tasks
         */
        task() {
            return this.$store.getters.task(this.id)
        },
        /**
         * Get loader status
         * @returns {boolean} loader status
         */
        loading() {
            return this.$store.getters.loading
        },
        /**
         * Get users
         * @returns {array} list of users
         */
        users() {
            return this.$store.getters.users
        },
        /**
         * Get current logged user
         * @returns {object} user profile
         */
        user() {
            return this.$store.getters.user
        },
        /**
         * Check is form valid
         * @returns {boolean} info is form valid
         */
        isFormValid() {
            return (
                this.title &&
                this.description &&
                this.assignedTo
            )
        },
        /**
         * Check is any error when send data
         * @returns {string} error message
         */
        error() {
            return this.$store.getters.error
        },
    },
    /**
     * Fetch users when component is created
     */
    created() {
        this.$store.dispatch('fetchUsers');
    },
    /**
     * Set assigned persons colection from server when component is mounted
     */
    mounted() {
        this.assignedTo = this.$store.getters.user.username
    },
    /**
     * Set component data
     * @returns {object} component data
     */
    data: () => {

        return {
            card_text: 'Lorem ipsum dolor sit amet, brute iriure accusata ne mea. Eos suavitate referrentur ad, te duo agam libris qualisque, utroque quaestio accommodare no qui. Et percipit laboramus usu, no invidunt verterem nominati mel. Dolorem ancillae an mei, ut putant invenire splendide mel, ea nec propriae adipisci. Ignota salutandi accusamus in sed, et per malis fuisset, qui id ludus appareat.',
            title: '',
            createdBy: '',
            createdDate: Date.now(),
            assignedTo: '',
            description: '',
            titleValidate: [v => v.length <= 50 || 'Max 50 znaków'],
            descriptionValidate: [v => v.length <= 250 || 'Max 250 znaków'],
            createdByValidation: [v => v.length <= 25 || 'Max 250 znaków'],
            createdDateValidation: [v => v.length <= 250 || 'Max 250 znaków'],
            assignedToValidation: [v => v !== '' || 'Wybierz jedną osobę']
        }
    },
    methods: {
        /**
         * Submit form
         */
        submit () {
            let task = {
                title: this.title,
                description: this.description,
                createdBy: this.$store.getters.user._id.$oid,
                createdDate: this.createdDate,
                assignedTo: this.assignedTo
            }
            this.$store.dispatch('addTask', task)
            this.$router.push('/showAll');
        }
    }
}
</script>
