<template>
    <v-container>
        <loader :loading="loading"></loader>
        <app-alert v-if="error" :text="error"></app-alert>
        <v-layout v-if="!loading">
            <v-flex xs12>
            <v-card>
                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0 text-lg-left">Podgląd zgłoszenia: {{task.title}}</h3>
                    </div>
                </v-card-title>
                <v-card-title primary-title>
                    <v-flex class="mb-4 xs12">
                        <div class="mb-1"><b>Status</b>: {{ task.status | status }} </div>
                        <div class="mb-1"><b>Data</b>: {{ task.createdDate | fullDate }} </div>
                        <div class="mb-1"><b>Stworzony przez</b>: {{ getUser(task.createdBy).username }} </div>
                        <div class="mb-2"><b>Przypisany do</b>: {{ getUser(task.assignedTo).username }} </div>
                        <div class="mb-1"><b>Opis</b><br> {{ task.description }} </div>
                    </v-flex>
                    <v-flex class="xs12 mb-4" v-if="task.history">
                        <h3 class="mb-0"><b>Historia</b></h3>
                        <v-timeline
                            align-top
                            dense
                        >
                            <v-timeline-item
                            v-for="(change, i) in task.history"
                            :key="i"
                            color="pink"
                            small
                            >
                            <v-layout pt-3>
                                <v-flex xs2>
                                    <strong>{{ change.date | fullDate }}</strong>
                                </v-flex>
                                <v-flex>
                                <strong>{{ change.description }}</strong>
                                <div class="caption"><b>Status:</b> {{ change.status | status }} </div>
                                <div class="caption"><b>Osoba przypisana:</b> {{ getUser(change.assignedTo).username }} </div>
                                </v-flex>
                            </v-layout>
                            </v-timeline-item>
                        </v-timeline>
                    </v-flex>
                    <v-flex class="xs12">
                        <h3 class="mb-0"><b>Edytuj</b></h3>
                        
                        <v-flex xs12>
                            <v-flex xs12 sm6 d-flex>
                                <v-select
                                v-model="status"
                                :items="statuses"
                                item-text="name"
                                item-value="id"
                                :rules="[(v) => !!v || 'Wybierz jedną z opcji']"
                                label="Zmień status"
                                ></v-select>
                            </v-flex>
                        </v-flex>
                        <v-flex xs12>
                            <v-flex xs12 sm6 d-flex>
                                <v-select
                                v-model="user"
                                :items="users"
                                item-text="username"
                                item-value="_id.$oid"
                                :rules="[(v) => !!v || 'Wybierz jedną z opcji']"
                                label="Zmień osobę odpowiedzialną"
                                ></v-select>
                            </v-flex>
                        </v-flex>
                        <v-flex xs12 sm6>
                            <v-textarea
                                v-model="description"
                                color="teal"
                                counter="250"
                                :rules="[(v) => !!v || 'Wpisz opis']"
                            >
                                <template v-slot:label>
                                    <div>
                                        Wpisz opis
                                    </div>
                                </template>
                            </v-textarea>
                        </v-flex>
                    </v-flex>
                </v-card-title>
                
                <v-card-actions>
                    <v-btn color="primary" flat @click="submit" :disabled="!isFormValid">Wyślij</v-btn>
                </v-card-actions>
            </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import Loader from '@/components/Loader.vue'

export default {
    name: 'ShowTask',
    props: ['id'],
    components: {
        loader: Loader
    },
    computed: {
        /**
         * Get loader status
         * @returns {boolean} loader status
         */
        loading() {
            return this.$store.getters.loading
        },
        /**
         * Get all tasks from store.
         * @returns {array} collection of tasks
         */
        task() {
            return this.$store.getters.task(this.id)
        },
        /**
         * Get users
         * @returns {array} list of users
         */
        users() {
            return this.$store.getters.users
        },
        /**
         * Get statuses
         * @returns {array} list of statuses
         */
        statuses() {
            return this.$store.getters.statuses
        },
        /**
         * Check is any error when send data
         * @returns {string} error message
         */
        error() {
            return this.$store.getters.error
        },
        /**
         * Check is form valid
         * @returns {boolean} info is form valid
         */
        isFormValid() {
            return (
                this.status &&
                this.description &&
                this.user
            )
        }
    },
    /**
     * Set component data
     * @returns {object} component data
     */
    data: () => {
        return {
            status: '',
            description: '',
            user: ''
        }
    },
    methods: {
        /**
         * Map user id to name
         * @param {string} userId userId
         * @returns {object} user profile
         */
        getUser(userId) {
            const user = this.users.find(user => user._id.$oid === userId) || {username: 'Nieznany'}
            return user
        },
        /**
         * Submit data to server
         */
        submit() {
            const update = {
                id: this.id,
                status: this.status + '',
                description: this.description,
                assignedTo: this.user,
                date: Date.now()
            }
            this.$store.dispatch('editTask', update)
        }
    }
}
</script>
