<template>
  <v-container>
    <app-alert v-if="error" :text="error"></app-alert>
    <loader :loading="loading"></loader>
    <v-data-table
      :headers="headers"
      :items="items"
      class="elevation-1"
      v-if="!loading"
    >
      <template slot="items" slot-scope="props">
        <tr @click="viewTask(props.item._id.$oid)">
          <td class="text-xs-left">{{ props.item.title }}</td>
          <td class="text-xs-left">{{ props.item.createdDate | fullDate }}</td>
          <td class="text-xs-left">{{ getUser(props.item.createdBy).username }}</td>
          <td class="text-xs-left">{{ getUser(props.item.assignedTo).username }}</td>
          <td class="text-xs-left">{{ props.item.status | status }}</td>
        </tr>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import Loader from '@/components/Loader.vue' 

export default {
  name: 'showAllTask',
  components: {
    loader: Loader
  },
  computed: {
    /**
     * Get all tasks from store.
     * @returns {array} collection of tasks
     */
    items() {
      return this.$store.getters.tasks;
    },
    /**
     * Get users
     * @returns {array} list of users
     */
    users() {
        return this.$store.getters.users
    },
    /**
     * Get loader status
     * @returns {boolean} loader status
     */
    loading() {
      return this.$store.getters.loading;
    },
    /**
     * Check is any error when send data
     * @returns {string} error message
     */
    error() {
      return this.$store.getters.error
    },
  },
  /**
   * Fetch users and tasks when component is created
   */
  created() {
    this.$store.dispatch('fetchUsers');
    this.$store.dispatch('fetchTasks');
  },
  /**
   * Set component data
   * @returns {object} component data
   */
  data() {
    return {
      headers: [
        {
          text: 'Tytuł',
          align: 'left',
          sortable: true,
          value: 'title'
        },
        {
          text: 'Data',
          sortable: true,
          value: 'createdDate'
        },
        {
          text: 'Osoba zgłaszająca',
          sortable: true,
          value: 'status'
        },
        {
          text: 'Przypisane do',
        },
        {
          text: 'Status',
          sortable: true,
          value: 'status'
        }
      ],
    };
  },
  methods: {
    /**
     * Route to task view
     */
    viewTask(id) {
      this.$router.push({name: `showTask`, params: {id}})
    },
    /**
     * Map user id to name
     * @param {string} userId userId
     * @returns {object} user profile
     */
    getUser(userId) {
      const user = this.users.find(user => user._id.$oid === userId) || {name: 'Nieznany'}
      return user
    }
  }
}
</script>

<style lang="stylus">
.v-datatable {
  tr {
    cursor: pointer;
  }
}
</style>
