<template>
  <v-container>
    <loader :loading="loading"></loader>
    <v-layout row wrap justify-center v-if="!loading">
      <v-flex xs12 sm8>
        <v-card>
          <v-toolbar class='primary'>
            <v-toolbar-title class="white--text">Logowanie</v-toolbar-title>
          </v-toolbar>
          <app-alert v-if="error" :text="error"></app-alert>
          <v-container fluid class="px-3">
            <v-form @submit.prevent="onLogIn">
              <v-text-field
                label="Podaj nazwę użytkownika"
                v-model="email"
              ></v-text-field>
              <v-text-field
                label="Podaj hasło"
                :append-icon="e1 ? 'visibility' : 'visibility_off'"
                :append-icon-cb="() => (e1 = !e1)"
                :type="e1 ? 'password' : 'text'"
                v-model="password"
                counter
              ></v-text-field>
              <v-btn
                class='primary'
                type="submit"
                :loading="loading"
                :disabled="loading"
              >Zaloguj</v-btn>
            </v-form>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Loader from '@/components/Loader.vue'

export default {
  components: {
      loader: Loader
  },
  data() {
    return {
      email: '',
      e1: true,
      password: '',
    };
  },
  computed: {
    /**
     * Get current logged user
     * @returns {object} user profile
     */
    user() {
      return this.$store.getters.user;
    },
    /**
     * Get loader status
     * @returns {boolean} loader status
     */
    loading() {
      return this.$store.getters.loading;
    },
    /**
     * Check is any error when send data
     * @returns {string} error message
     */
    error() {
      return this.$store.getters.error
    }
  },
  watch: {
    /**
     * Watch when user data is downloade. When is go to home
     */
    user(value) {
      if (value !== null && value !== undefined) {
        this.$router.push('/');
      }
    },
  },
  methods: {
    /**
     * When data is correct try to login
     */
    onLogIn() {
      this.$store.dispatch('signIn', { username: this.email, password: this.password });
    },
    /**
     * When server return error - show it
     */
    onAlertDismissed() {
      this.$store.dispatch('clearError');
    },
  },
};
</script>

<style scoped>
  .custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
