<template>
  <div class="text-xs-center">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          Błąd
        </v-card-title>

        <v-card-text>
          {{ text }}
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            flat
            @click="dialog = false"
          >
            Zamknij
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: ['text'],
  methods: {
    /**
     * Emit event for close modal.
     */
    onClose() {
      this.$emit('dismissed');
    },
  },
  /**
   * Set data for component
   * @returns {Object} object with properties for component
   */
  data() {
      return {
          dialog: true
      }
  }
};
</script>
