<template>
  <v-layout row wrap justify-center>
    <v-progress-circular
      indeterminate
      color="primary"
      v-if="loading"
    ></v-progress-circular>
  </v-layout>
</template>

<script>
export default {
  name: 'Loader',
  props: ['loading']
}
</script>
