<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      fixed
      app
    >
      <v-list dense>
        <router-link to="/">
          <v-list-tile>
            <v-list-tile-action>
              <v-icon>home</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Home</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </router-link>
        <router-link to="/showAll">
          <v-list-tile>
            <v-list-tile-action>
              <v-icon>contact_mail</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Pokaż wszystkie zgłoszenia</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </router-link>
        <router-link to="/addTask">
          <v-list-tile>
            <v-list-tile-action>
              <v-icon>contact_mail</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Dodaj zgłoszenie</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </router-link>
        <v-list-tile @click="logout" v-if="user">
          <v-list-tile-action>
            <v-icon>contact_mail</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Wyloguj</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="indigo" dark fixed app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Bugzilla{{ user ? ` - Zalogowany użytkownik: ${user.username}` : '' }}</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height>
        <v-layout>
          <v-flex>
            <router-view></router-view>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <v-footer color="indigo" app>
      <span class="white--text">&copy; 2019 Konrad Skura & Kamil Fryśny</span>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    computed: {
      /**
       * Get current logged user
       * @returns {object} user profile
       */
      user() {
        return this.$store.getters.user
      }
    },
    /**
     * Set component data
     * @returns {object} component data
     */
    data: () => ({
      drawer: null
    }),

    props: {
      source: String
    },
    methods: {
      /**
       * Logout user
       */
      logout() {
        this.$store.dispatch('logout')
        this.$router.push('/login');
      }
    }
  }
</script>

<style scoped>
a {
  text-decoration: none;
  color: inherit;
}
</style>
